@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #f7f4ed;
  --color-background-rgb: 247 244 237;

  --color-background-secondary: #b9b9b9;
  --color-background-secondary-rgb: 185 185 185;

  --color-text: #070603;
  --color-text-rgb: 7 6 3;

  --color-primary: #6637ee;
  --color-primary-rgb: 102 55 238;

  --box-shadow-main: 0 0 0.2rem #fff, 0 0 0.2rem #fff,
    0 0 2rem var(--color-primary), 0 0 0.8rem var(--color-primary),
    0 0 2.8rem var(--color-primary), inset 0 0 1.3rem var(--color-primary);

  --box-shadow-input: 0px 4px 0px 0px var(--color-text);
}

body {
  color: var(--color-text);
  background: var(--color-background);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/images/background.jpg);
  background-size: cover;
  background-position: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  box-sizing: border-box;
}

h1 {
  text-shadow: -1px -1px 0 var(--color-text), 1px -1px 0 var(--color-text),
    -1px 1px 0 var(--color-text), 3px 3px 0 var(--color-text);
}
